<section class="card">
    <input type="hidden" value="{{id}}"/>
    <h3>{{name}}</h3>
    <p>{{description}}</p>
    <p style="font-size: 12px" id="commentUser">Posted By {{user.name}} On {{ format_date date_created}}</p>
</section>

{{#if logged_in}}
<form class="new-comment-form" data-blog_id={{id}}>
  <div>
    <label for="comment">Comment</label>
    <input type="text" id="comment" placeholder="Type your comment here"/>
    <button id="submit-comment">Submit</button>
  </div>
</form>
{{else}}
<a href="/login" style="text-align: center; display: block">Login to add a comment.</a>
{{/if}}

<h2>Comments</h2>

  {{#each comments as |comment|}}
<section class="card">
  <p>{{comment.text}}</p>
  <p style="font-size: 12px" id="commentUser">Posted by {{comment.user.name}} On {{format_date date_created}}</p>
</section>
  {{/each}}


<script src="/js/comments.js"></script>